@model Recipe

<h4>@Model.Title</h4>
<p class="w3-text-grey">@Model.Description.Split('.')[0]</p><br>
<a class="w3-button w3-light-gray w3-section" style="margin-top: 0px !important;" asp-action="ViewRecipe" asp-controller="Recipe" asp-route-recipeId="@Model.RecipeId">See Details</a>