@model Assignment2.Models.Recipe
<form action="AddRecipe" method="Post">
    <p><label asp-for="Title">Title: </label>
    <input class="w3-input w3-padding-16" type="text" 
    placeholder="Title" required name="Title" asp-for="Title"></p>
    <p><label asp-for="Name">Author's Name: </label>
    <input class="w3-input w3-padding-16" type="text" 
    placeholder="Author's name" required name="Name" asp-for="Name"></p>
    <p><label asp-for="Description">Description: </label>
    <textarea rows="5" class="w3-input w3-padding-16" type="text" 
    placeholder="Description" required name="Description" asp-for="Description"></textarea></p>
    <p><label asp-for="Ingredients">Ingredients: </label>
    <textarea rows="5" class="w3-input w3-padding-16" type="text" 
    placeholder="Ingredients" required name="Ingredients" asp-for="Ingredients"></textarea></p>
    <p><label asp-for="Instruction">Instructions: </label>
    <textarea rows="5" class="w3-input w3-padding-16" type="text" 
    placeholder="Instructions" required name="Instruction" asp-for="Instruction"></textarea></p>
    <p><button class="w3-button w3-text-white w3-dark-grey w3-section" type="submit">Post Recipe</button>
    <a class="w3-button w3-text-white w3-dark-grey w3-section" asp-action="Index" asp-controller="Recipe">Cancel</a></p>
</form>